body {
    background-color: #003ba1;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
    color: #fff;
}      

.container, #results-page, #timer{
    text-align: center;
}
#questions {
    position: relative;
    top: 200px;
}
#timer, #results-page {
    position: relative;
    top: 75px;
}
p {
    margin-top: 20px;
}
#start {
    margin: 50px;
    position: relative;
    top: 400px;
}
h1 {
    margin-top: 50px;
}
button {
    background-color: #7f1b1d;
    color: #fff;
}
.image {
    width: 388px;
    border: 2px ridge red;
}

